/*<section class="download audiobook">*/
.audiobook
  background: #000 url(../img/audiobook/audio-ninja.jpg) center no-repeat
  background-size: cover
  padding-top: 50px

  &-header
    font-size: 70px
    color: #e11a1d
    text-align: center

  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center