/*<div class="video">*/
.video
  height: 100vh
  background: url(../img/video/video-bg.jpg) center no-repeat
  background-size: cover
  position: relative
  z-index: 0
  &::before
    content: ''
    display: block
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: #000
    opacity: 0.5
    z-index: -1

  &-wrapper
    height: 100vh
    display: flex
    align-items: center
    justify-content: flex-end

  &__block
    width: 100%
    max-width: 700px
    height: 400px

iframe
  width: 100%
  height: 100%