@font-face {
  font-family: 'Han Zi';
  src: url("../fonts/HanZi.eot");
  src: local("../fonts/Han Zi"), local("../fonts/HanZi"), url("../fonts/HanZi.eot?#iefix") format("embedded-opentype"), url("../fonts/HanZi.woff2") format("woff2"), url("../fonts/HanZi.woff") format("woff"), url("../fonts/HanZi.ttf") format("truetype"), url("../fonts/") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

/*basic settings*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Han Zi', serif; }

img {
  max-width: 100%; }

.container {
  max-width: 1530px;
  width: 95%;
  margin: 0 auto; }

.button {
  font-size: 18px;
  color: #000;
  padding: 25px 90px;
  border: 2px solid #8c1517;
  border-radius: 10px; }

small {
  display: block;
  font-size: 16px;
  text-align: right;
  margin-top: 45px; }

/*<header class="header">*/
.header {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: url(../img/main-bg.jpg) center no-repeat;
  background-size: cover; }
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 1; }
  .header__offer {
    position: relative;
    font-size: 100px;
    color: #fff;
    letter-spacing: 16px;
    z-index: 2; }
    .header__offer span {
      display: block;
      font-size: 60px;
      margin-top: 60px;
      letter-spacing: 10px;
      line-height: 1.4; }

/*<div class="readBook">*/
.readBook {
  height: 640px;
  background: url(../img/readBook/samurai-bg.jpg) center no-repeat;
  background-size: cover; }
  .readBook-wrapper {
    height: 640px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 43px; }
  .readBook__btn {
    background-color: #d0d0d0; }

/*<div class="myself">*/
.myself {
  background-color: #fff;
  padding-top: 20px; }
  .myself-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .myself-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 540px;
            flex: 0 1 540px;
    margin-right: 60px; }
    .myself-img_2 {
      margin-right: 0;
      margin-left: 60px; }
  .myself-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 750px;
            flex: 0 0 750px;
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: 1px; }
    .myself-text p:first-child {
      font-size: 28px;
      margin-bottom: 60px; }

/*<div class="engraving"></div>*/
.engraving {
  height: 100vh; }

/*<div class="download">*/
.download {
  height: 100vh; }
  .download-wrapper {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .download__btn {
    color: #fff; }

/** Media **/
@media (max-width: 1200px) {
  .myself-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 600px;
            flex: 0 0 600px;
    font-size: 20px; }
    .myself-text p:first-child {
      font-size: 24px;
      margin-bottom: 40px; } }

@media (max-width: 992px) {
  .header__offer {
    font-size: 60px; }
    .header__offer span {
      font-size: 40px; }
  .myself {
    padding: 60px 0; }
    .myself-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .myself-img {
      max-height: 400px;
      max-width: 300px;
      margin-right: 0; }
      .myself-img_2 {
        margin-left: 0; }
    .myself-text {
      text-align: center;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 0px;
              flex: 0 0 0;
      max-width: 85%;
      margin-top: 40px; }
  .download-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 60px; }
  .download__btn:first-child {
    margin-bottom: 30px; } }

@media (max-width: 780px) {
  .readBook-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .readBook__btn {
    margin-bottom: 30px; }
  .myself-text {
    max-width: 100%; } }

@media (max-width: 576px) {
  .header__offer {
    font-size: 40px; }
    .header__offer span {
      font-size: 30px; }
  .download__btn {
    width: 100%;
    text-align: center;
    padding: 25px 0; } }

@media (max-width: 390px) {
  .header__offer {
    letter-spacing: 5px; }
  .readBook__btn {
    width: 100%;
    padding: 25px 0;
    text-align: center; }
  .myself-text {
    font-size: 18px; }
    .myself-text p:first-child {
      font-size: 20px; } }
